/*reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,input,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #fff;
    font: 12px/1.5 "宋体", "Arial Narrow", HELVETICA;
    color: #333;
    padding:0 0 16px 12px;
}


.wrapper {border: 1px dotted #d6d2b6;background-color: #FCFCF8;}
.wrapper .title{margin-left:40px;font-size: 16px;font-weight: bold;font-family:microsoft Yahei;}

.wrapper .head{height:23px;}
.wrapper .head .close{float:right;margin:10px 10px 0 0;width: 14px;height: 13px;background: url(img/close.png)  -1px 0 no-repeat;cursor:pointer;}
.wrapper .head .close:hover{background-position:-1px -18px}
.wrapper .head .close:active{background-position:-1px -36px }


.drag{cursor:pointer;z-index:9999;width: 24px;height: 24px;background:url(img/move.png)  0 0 no-repeat;position: relative;left:-12px;top:12px;visibility: hidden;}

.mask{position: absolute;top:25px;left:10px;z-index: 1000;opacity: 0.4; filter: alpha(opacity = 40);
    border: 1px dotted #55C442;background-color: #333333;}

.masktip{position: absolute;top:25px;left:10px;z-index: 1001;
    background-position:center center ;background-repeat: no-repeat;
    background-image: url(img/mask.png);_background-image: url(img/mask.gif);
}