.wrapper {border: 1px dotted #d6d2b6;background-color: #fcfcf8;}
.wrapper .drag{cursor: move;width: 50px;height: 20px;}
.wrapper .title{margin-left:40px;font-size: 16px;font-weight: bold;font-family:microsoft Yahei;color: #333;}
.wrapper .section{margin: 10px 0;font-size: 14px;overflow: hidden;color: #666;font-size: 14px;line-height: 30px;}
.wrapper .tab{display: none;}
.wrapper .tab.cur{display: block;}

.section .left{float: left;}
.section .left .star{ color: red;margin-left: 40px;}
.section .left .key{margin:0 10px ;}
.section .left .unit{margin: 0 10px;}

.section .leftarea{float:left;width: 275px;overflow: hidden;}
.section .rightarea{float:left;width: 300px;overflow: hidden;}
.section .dropdownbox{padding-left: 10px;height: 30px;line-height: 30px;border: #ddd 1px solid;color: #ddd;width: 130px;outline: 0;}
.section .textbox{ padding-left: 10px;height: 30px;line-height: 30px;border: #ddd 1px solid;color: #ddd;outline: 0;}
.section .textbox.focus{ border-color: #77d068;color:#333;}
.section .dropdownbox.focus{color:#333;}
.section .wt1{ width: 398px;}
.section .wt2{width: 118px;}
.section .type{margin:0 15px 0 60px}

.section .decorativetxt{float:left;margin:0 10px 0 40px;}
.section .decorative{float:left;overflow: hidden;width: 415px;}
.section .decorative .way{float:left;margin-right:10px;height: 30px;border: #ddd 1px solid;background: #FFFFFF;text-align: center;line-height: 30px;cursor: pointer;}
.section .decorative .way.active{ border: #77D068 1px solid;background:url('../img/checked.png') no-repeat right bottom;}
.section .decorative .other{float: left;width: 77px;height: 30px;margin:10px 0 20px;border: #DDDDDD 1px solid;color: #ddd;text-align: center;line-height: 30px;}

.mask{width:100%;height:100%;position: absolute;top:0;left:0;z-index: 1000;
    background-color:#085ea7;opacity: 0.7; filter: alpha(opacity = 70);}