<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../graphictemplate.js"></script>
    <link rel="stylesheet" type="text/css" href="food.css">
</head>
<body>
<div class="drag" id="J_drag"></div>
<div class="wrapper">
    <div class="head">
        <a class="close" id="J_close"></a>
    </div>
    <div id="J_main"></div>
</div>
<div class="mask" id="J_mask" style="display: none"></div>

<script type="text/javascript" src="food.js"></script>
</body>
</html>