.wrapper {
    margin: 10px auto;
    position: relative
}
.panel{
    width: 500px;
    margin: 0 auto;
}
.panel table td {
    vertical-align: middle;
}

#videoUrl {
    width: 420px;
    height: 23px;
    line-height: 23px;
    margin: 8px 5px;
    background: #FFF;
    border: 1px solid #d7d7d7;
}
#preview {
    width: 421px;
    margin-left: 65px;
    height: 270px;
    background-color: #ddd;
}

fieldset input.txt {
    width: 65px;
    height: 21px;
    line-height: 21px;
    margin: 8px 5px;
    background: #FFF;
    border: 1px solid #d7d7d7;
}

label.url {
}