.wrapper .section{margin: 15px 0;font-size: 14px;overflow: hidden;color: #666;line-height: 32px;_height:33px;}

.section .left{float: left;}
.section .left .star{ color: red;margin-left: 40px;}
.section .left .key{margin:0 11px ;}
.section .left .unit{margin: 0 10px;}

.section .leftarea{float:left;width: 250px;overflow: hidden;}
.section .rightarea{float:left;width: 300px;overflow: hidden;margin-left: 90px;}
.section .dropdownbox{padding-left: 2px;width: 80px;height: 30px;vertical-align:middle;border: #ddd 1px solid;color: #ddd;outline: 0;}
.section .textbox{ text-align:center;width: 46px;height: 30px;line-height: 30px;border: #ddd 1px solid;color: #ddd;outline:0;}
.section .textbox.focus{border-color:#77d068;color:#333;}
.section .dropdownbox.focus{color:#333;}
.wrapper .download{_height:84px;}

.section .decorativetxt{float:left;margin:0 10px 0 40px;}
.section .decorative{float:left;overflow: hidden;width: 510px;}
.section .decorative .way{float:left;padding:0 10px;margin-right:10px;height: 30px;border: #ddd 1px solid;background: #FFFFFF;text-align: center;line-height: 30px;cursor: pointer;}
.section .decorative .way.active{ border: #77D068 1px solid;background:url('../img/checked.png') no-repeat right bottom;}
.section .decorative .other{float: left;width: 77px;margin:10px 0;}