/*普通按钮样式及状态*/
.edui-default .edui-toolbar .edui-button {
    height: 24px;
    line-height: 24px;
    width: 52px;
}
.edui-default .edui-toolbar .edui-button .edui-icon {
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
}
.edui-default .edui-toolbar .edui-button .edui_disableIcon {
    _display: inline !important;
}
.edui-default .edui-toolbar .edui-button .edui-button-wrap {
    position: relative;
}

.edui-default .edui-toolbar .edui-button .edui-state-hover .edui-button-wrap {
    padding: 0;
    background: url(../images/zhidao.png) -1px -120px no-repeat;
    height: 24px;
}

.edui-default .edui-toolbar .edui-button .edui-state-checked .edui-button-wrap {
    background: url(../images/zhidao.png) -1px -150px no-repeat;
    padding: 0;
}

.edui-default .edui-toolbar .edui-button .edui-state-active .edui-button-wrap {
    background: url(../images/zhidao.png) -1px -120px no-repeat;
    padding: 0;
}
.edui-default .edui-toolbar .edui-state-disabled .edui-label {
    color: #ccc;
}
.edui-default .edui-toolbar .edui-state-disabled .edui-icon {
    opacity: 0.3;
    filter: alpha(opacity = 30);
}