/* toolbar icons */
.edui-default .edui-for-undo .edui-icon {
    background-position: 0 -2px;

}
.edui-default .edui-for-undo .edui-state-hover .edui-icon {
    background-position: 0 -42px;
}
.edui-default .edui-for-undo .edui-state-active .edui-icon,
.edui-default .edui-for-undo .edui-state-checked .edui-icon {
    background-position: 0 -82px;
}
.edui-default  .edui-for-redo .edui-icon {
    background-position: -34px -2px;
}
.edui-default  .edui-for-redo .edui-state-hover .edui-icon {
    background-position: -34px -42px;
}
.edui-default .edui-for-redo .edui-state-active .edui-icon,
.edui-default .edui-for-redo .edui-state-checked .edui-icon{
    background-position: -34px -82px;
}

.edui-default  .edui-for-bold .edui-icon {
    background-position: -82px -2px;
}
.edui-default  .edui-for-bold .edui-state-hover .edui-icon {
    background-position: -82px -42px;
}
.edui-default  .edui-for-bold .edui-state-checked .edui-icon,
.edui-default .edui-for-bold .edui-state-checked .edui-icon{
    background-position: -82px -82px;
}

.edui-default  .edui-for-italic .edui-icon {
    background-position: -116px -2px;
}
.edui-default  .edui-for-italic .edui-state-hover .edui-icon {
    background-position: -116px -42px;
}
.edui-default  .edui-for-italic .edui-state-checked .edui-icon,
.edui-default .edui-for-italic .edui-state-checked .edui-icon {
    background-position: -116px -82px;
}

.edui-default .edui-for-heading1 .edui-icon {
    background-position: -246px -2px
}
.edui-default .edui-for-heading1 .edui-state-hover .edui-icon {
    background-position: -246px -42px;
}
.edui-default .edui-for-heading1 .edui-state-active .edui-icon,
.edui-default .edui-for-heading1 .edui-state-checked .edui-icon {
    background-position: -246 -82px;
}

.edui-default  .edui-toolbar  .edui-for-autotypeset .edui-icon {
    width:62px !important;
    background-position: -362px -2px
}
.edui-default  .edui-for-autotypeset  .edui-state-hover  .edui-icon {
    background-position: -362px -42px;
}
.edui-default .edui-for-autotypeset .edui-state-active .edui-icon,.edui-default  .edui-for-autotypeset  .edui-state-checked  .edui-icon {
    background-position: -362px -82px;
}

.edui-default  .edui-for-insertorderedlist .edui-icon {
    background-position: -198px -2px;
}
.edui-default  .edui-for-insertorderedlist .edui-state-hover .edui-icon {
    background-position: -198px -42px;
}
.edui-default  .edui-for-insertorderedlist .edui-state-checked .edui-icon {
    background-position: -198px -82px;
}

.edui-default  .edui-for-insertunorderedlist .edui-icon {
    background-position: -164px -2px;
}
.edui-default  .edui-for-insertunorderedlist .edui-state-hover .edui-icon {
    background-position: -164px -42px;
}
.edui-default  .edui-for-insertunorderedlist .edui-state-checked .edui-icon {
    background-position: -164px -82px;
}

.edui-default  .edui-for-insertimage .edui-icon {
    background-position: -280px -2px
}
.edui-default  .edui-for-insertimage .edui-state-hover  .edui-icon {
    background-position: -280px -42px;
}
.edui-default .edui-for-insertimage .edui-state-active .edui-icon,.edui-default  .edui-for-insertimage .edui-state-checked  .edui-icon {
    background-position: -280px -82px;
}
.edui-default .edui-for-insertimage .ue_flash{
    position: absolute;z-index: 9999;width: 30px;height: 30px;top:0;left:0;
}
.edui-default  .edui-for-insertvideo .edui-icon {
    background-position: -314px -2px;
}
.edui-default  .edui-for-insertvideo .edui-state-hover .edui-icon {
    background-position: -314px -42px;
}
.edui-default .edui-for-insertvideo .edui-state-active .edui-icon,.edui-default  .edui-for-insertvideo .edui-state-checked .edui-icon {
    background-position: -314px -82px;
}

.edui-default .edui-toolbar .edui-for-graphictemplate .edui-icon {
    width:76px !important;
    background-position: -442px -2px;
}
.edui-default  .edui-for-graphictemplate .edui-state-hover .edui-icon,
.edui-default .edui-for-graphictemplate .edui-state-active .edui-icon,
.edui-default  .edui-for-graphictemplate .edui-state-checked .edui-icon{
    background-position: -442px -42px;
}