/* for zhidao */
.edui-default .edui-for-insertimage {
    height: 22px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    _display: inline !important;
}

.edui-default .edui-for-insertimage .ue_flash{
    position: relative;
    z-index: 9999;
    top: -25px;
    top: -22 px\0;
    width: 48px;
    height: 22px;
}

.edui-default .edui-for-insertimage .edui-icon,
.edui-default .edui-for-insertimage .edui_disableIcon {
    background: url(../images/zhidao.png) 4px -66px no-repeat;
}

/*解决ie6下文字图标对不起问题*/
.edui-default .edui-for-insertimage .edui-label {
    _position: relative;
    _top: 2px;
    cursor: pointer;
    _display: inline !important;
}
/*for insertorderedlist*/
.edui-default .edui-for-insertorderedlist {
    _display: inline !important;
}

.edui-default .insertorderedlist .edui-icon,
.edui-default .insertorderedlist .edui_disableIcon{
    background: url(../images/zhidao.png) 5px -19px no-repeat;
}

.edui-default .insertorderedlist .edui-label {
    _top: 2px;
    cursor: pointer;
}

.edui-default .insertorderedlist .edui-button-body {
    width: 48px;
}

/*for insertunorderedlist*/
.edui-default .edui-for-insertunorderedlist {
    _display: inline !important;
}

.edui-default .insertunorderedlist .edui-icon,
.edui-default .insertunorderedlist .edui_disableIcon
{
    background: url(../images/zhidao.png) 4px 5px no-repeat;
}

.edui-default .insertunorderedlist .edui-label {
    _top: 2px;
    cursor: pointer;
}

.edui-default .insertunorderedlist .edui-button-body {
    width: 48px;
}

/*for autotypeset*/
.edui-default .edui-for-autotypeset {
    _display: inline !important;
}

.edui-default .autotypeset .edui-icon,
.edui-default .autotypeset .edui_disableIcon{
    background: url(../images/zhidao.png) 3px -45px no-repeat;
}

.edui-default .autotypeset .edui-label {
    _top: 2px;
    cursor: pointer;
}

.edui-default .autotypeset .edui-button-body {
    width: 48px;
}

/*for map*/
.edui-default .edui-for-insertmap {
    _display: inline !important;
}

.edui-default .insertmap .edui-icon {
    background: url(../images/zhidao.png) 2px -91px no-repeat;
}

.edui-default .insertmap .edui_disableIcon {
    background: url(../images/zhidao.png) 2px -91px no-repeat;
}

.edui-default .deletemap .edui-icon {
    background: url(../images/zhidao.png) -26px -45px no-repeat;
}

.edui-default .deletemap .edui-label,
.edui-default .insertmap .edui-label {
    _top: 2px;
    cursor: pointer;
}

.edui-default .insertmap .edui-button-body {
    width: 48px;
}

.edui-default .deletemap .edui-button-body{
    width: 73px;
}
/*for link*/
.edui-default .edui-for-link {
    _display: inline !important;
}

.edui-default .edui-for-link .edui-icon
,.edui-default .edui-for-link .edui_disableIcon {
    background:url(../images/zhidao.png) -24px 7px no-repeat
}

.edui-default .edui-for-link .edui-label {
    _top: 2px;
    cursor: pointer;
}

.edui-default .edui-for-link .edui-button-body {
    width: 62px;
}
.edui-default .edui-button.edui-for-link {
    width: 66px;
}
.edui-default .edui-toolbar .edui-button.edui-for-link .edui-state-hover .edui-button-wrap {
    background: url(../images/zhidao.png) 0 -210px no-repeat;
}

/*for more*/
.edui-default .edui-for-more {
    _display: inline !important;
}

.edui-default .edui-for-more .edui-icon
,.edui-default .edui-for-more .edui_disableIcon {
    background:url(../images/zhidao.png) -24px -20px no-repeat
}

.edui-default .edui-for-more .edui-label {
    _top: 2px;
    cursor: pointer;
}

.edui-default .edui-for-more .edui-button-body {
    width: 62px;
}
.edui-default .edui-button.edui-for-more {
    width: 66px;
}
.edui-default .edui-toolbar .edui-button.edui-for-more .edui-state-hover .edui-button-wrap {
    background:url(../images/zhidao.png) 1px -240px no-repeat
}
/*for media*/
.edui-default .edui-for-media {
    _display: inline !important;
}

.edui-default .edui-for-media .edui-icon,
.edui-default .edui-for-media .edui_disableIcon {
    background:url(../images/zhidao.png) -61px -22px no-repeat
}

.edui-default .edui-for-media .edui-label {
    _top: 2px;
    cursor: pointer;
}

.edui-default .edui-for-media .edui-button-body {
    width: 84px;
}
.edui-default .edui-button.edui-for-media {
    width: 88px;
}
.edui-default .edui-toolbar .edui-button.edui-for-media .edui-state-hover .edui-button-wrap {
    background: url(../images/zhidao.png) 0 -181px no-repeat;
}