/* 弹出对话框按钮和对话框大小 */
.edui-default .edui-dialog {
    z-index: 2000;
    position: absolute;
}

.edui-default .edui-dialog-wrap {
    margin-right: 6px;
    margin-bottom: 6px;
    border: 2px solid #3daa11;
}

.edui-default .edui-dialog-body {
    position: relative;
    background-color: white;
    _zoom: 1;
}

.edui-default .edui-dialog-shadow {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-shadow: 3px 3px 5px #999999;
    -webkit-box-shadow: 3px 3px 5px #999999;
    -moz-box-shadow: 3px 3px 5px #999999;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius = '3', MakeShadow = 'true', ShadowOpacity = '0.5');
}

.edui-default .edui-dialog-foot {
    background-color: white;
}

.edui-default .edui-dialog-titlebar {
    height: 47px;
    position: relative;
    cursor: move;
}
.edui-default .edui-dialog-caption {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    line-height: 47px;
    padding-left: 10px;
}

.edui-default .edui-dialog-draghandle {
    height: 26px;
}

.edui-default .edui-dialog-closebutton {
    position: absolute !important;
    right: 5px;
    top: 3px;
}

.edui-default .edui-dialog-closebutton .edui-button-body {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: url("../images/dialog.gif") no-repeat 0 -92px;
}

.edui-default .edui-dialog-foot {
    margin-top: 15px;
    height: 40px;
}

.edui-default .edui-dialog-buttons {
    width: 210px;
    margin: 0 auto;
}

.edui-default .edui-dialog-buttons .edui-button {
    margin-right: 10px;
}

.edui-default .edui-dialog-buttons .edui-okbutton .edui-button-body {
    background: url("../images/dialog.gif") no-repeat;
    height: 31px;
    width: 94px;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    cursor: default;
}
.edui-default .edui-dialog-buttons .edui-okbutton .edui-state-hover .edui-button-body {
    background: url("../images/dialog.gif") no-repeat -167px 0;
}
.edui-default .edui-dialog-buttons .edui-okbutton .edui-label{
     color: #ffffff;
 }
.edui-default .edui-dialog-buttons .edui-cancelbutton .edui-button-body {
    background: url("../images/dialog.gif") no-repeat 0 -50px ;
    height: 31px;
    width: 94px;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    cursor: default;
    color: #000;
}

.edui-default .edui-dialog-buttons .edui-cancelbutton .edui-state-hover .edui-button-body {
    background: url("../images/dialog.gif") no-repeat -167px -50px;
}
.edui-default .edui-dialog-buttons .edui-cancelbutton .edui-label{
    color: #333;
}
.edui-default .edui-dialog iframe {
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.edui-default .edui-dialog-modalmask {
    opacity: 0.3;
    filter: alpha(opacity = 30);
    background-color: #ccc;
    position: absolute;
    /*z-index: 1999;*/
}

.edui-default .edui-dialog-dragmask {
    position: absolute;
    /*z-index: 2001;*/
    background-color: transparent;
    cursor: move;
}

.edui-default .edui-dialog-content {
    position: relative;
    border-top: 2px solid #3daa11;
    border-bottom: 1px solid #eeeeee;
    margin: 0 20px;
}

.edui-default .dialogcontmask {
    cursor: move;
    visibility: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity = 0);
}
/*link-dialog*/
.edui-default .edui-for-link .edui-dialog-content {
    width: 400px;
    height: 120px;
}
/*video-dialog*/
.edui-default .edui-for-insertvideo .edui-dialog-content {
    width: 550px;
    height: 470px;
}
