.edui-default .edui-graphictemplatepicker .edui-graphictemplatepicker-body {
    width: 76px;
    font-size: 12px;
    cursor: default;
    overflow-y: auto;
}
.edui-default .edui-graphictemplatepicker-item .edui-label{
    text-align: center;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #E4EDE2;
}
.edui-default .edui-graphictemplatepicker-item .edui-soft.edui-label{
    border-bottom: 1px solid #ccc;
}
.edui-default .edui-graphictemplatepicker-body .edui-graphictemplatepicker-item.edui-state-hover .edui-label{
    background-color: #F9FDF8;
}