/*链接弹出菜单*/
.edui-default .edui-morepicker .edui-morepicker-body {
    width: 60px;
    font-size: 12px;
    cursor: default;
    overflow-y: auto;
}
.edui-default .edui-morepicker-item {
    padding:5px;
    cursor: pointer;
    overflow: hidden;
}
.edui-default .edui-morepicker-item .edui-icon{
    height: 20px !important;
    width: 23px !important;
    background-image: url(../images/zhidao.png);
    float: left;
}
.edui-default .edui-morepicker-item .edui-label{
    float: left;
}
.edui-default .edui-answertemplate .edui-icon{
    background-position: -30px -50px
}
.edui-default .edui-insertvideo  .edui-icon{
    background-position: -63px 0;
}


.edui-default .edui-morepicker-edit {
    color: #133db6;
    font-size: 12px;
}
.edui-default .edui-morepicker-body .edui-morepicker-item.edui-state-hover {
    background-color: #ebf6e6;
}