/*分隔线*/
.edui-default .edui-toolbar .edui-separator {
    width: 2px;
    height: 29px;
    margin: 0 4px;
    background: url(../images/exp-icon.png) -73px  0;
    background: url(../images/exp-icon.gif) -73px 0 \9;
}
