/*根据UI结构重写CSS，仅在相应UI组件创建时，加载对应css，顺序加载
*/

/*-------基础UI构建，必须加载-------*/
@import "_uibase.css";
@import "_toolbar.css";
@import "editor.css";



/*-------按钮类型，按需加载-------*/
    /*普通按钮*/
@import "_button.css";
    /*按钮icon*/
@import "_buttonicon.css";
    /*弹出菜单*/
@import "popup.css";


/*-------独立按钮样式，按需加载-------*/
    /*弹出对话框样式*/
@import "dialog.css";
    /*分隔线*/
@import "_separtor.css";
    /*上传进度条*/
@import "_progress.css";