/*reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,input,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #fff;
    font: 12px/1.5 "宋体", "Arial Narrow", HELVETICA;
    color: #646464;
}


.wrapper {border: 1px dotted #d6d2b6;background-color: #fcfcf8;}
.wrapper .title{margin-left:40px;font-size: 16px;font-weight: bold;font-family:microsoft Yahei;color: #333;}

.wrapper .head{overflow: hidden;height:23px;}
.wrapper .head .drag{cursor: move;width: 50px;height: 20px;float:left;}
.wrapper .head .close{width: 14px;height: 13px;margin:10px 10px 0 0;float:right;background: url(img/close.png)  -1px 0 no-repeat;cursor:pointer;}
.wrapper .head .close:hover{background-position:-1px -18px}
.wrapper .head .close:active{background-position:-1px -36px }


.mask{width:100%;height:100%;position: absolute;top:0;left:0;z-index: 1000;
    background-color:#085ea7;opacity: 0.7; filter: alpha(opacity = 70);}