<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../graphictemplate.js"></script>
    <link rel="stylesheet" type="text/css" href="soft.css">
</head>
<body>
<div class="drag" id="J_drag"></div>

<div class="wrapper">
    <div class="head">
        <a class="close" id="J_close"></a>
    </div>
    <div class="main">
        <div class="title">软件基本信息</div>
        <div class="section">
            <div class="left">
                <span class="star">*</span>
                <span class="key">名称:</span>
            </div>
            <div class="left">
                <input type="text" id="J_name" maxlength="15" class="textbox wt1" value='例:百度拼音输入法'/>
            </div>
        </div>
        <div class="section">
            <div class="left">
                <span class="star">*</span>
                <span class="key">类型:</span>
            </div>
            <div class="left">
                <label><input type="radio" name="type" class="radiobox" id="J_pc" checked/>电脑</label>
                <label><input type="radio" id="J_mobile" class="radiobox"  name="type"/>移动平台</label>
            </div>
        </div>
        <div class="section">
            <div class="leftarea">
                <div class="left">
                    <span class="star">*</span>
                    <span class="key">大小:</span>
                </div>
                <div class="left">
                    <input type="text" class="textbox wt2" maxlength="6" value="10MB" id="J_size"/>
                </div>
            </div>
            <div class="rightarea">
                <div class="left">
                    <span class="type">版本:</span>
                </div>
                <div class="left">
                    <input type="text" class="textbox wt2" maxlength="10" id="J_version"/>
                </div>
            </div>
        </div>

        <div class="tab cur">
            <div class="section">
                <div class="leftarea">
                    <div class="left">
                        <span class="type">类别:</span>
                    </div>
                    <div class="left">
                        <select class="dropdownbox" id="J_pcType">
                            <option value="音频媒体">音频媒体</option>
                            <option value="网络软件">网络软件</option>
                            <option value="应用工具">应用工具</option>
                            <option value="系统工具">系统工具</option>
                            <option value="图形处理">图形处理</option>
                            <option value="开发工具">开发工具</option>
                            <option value="病毒安全">病毒安全</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
                <div class="rightarea">
                    <div class="left">
                        <span class="type">语言:</span>
                    </div>
                    <div class="left">
                        <select class="dropdownbox" id="J_pcLang">
                            <option value="中文">中文</option>
                            <option value="英文">英文</option>
                            <option value="日文">日文</option>
                            <option value="多语言">多语言</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="left">
                    <span class="nostar">系统要求:</span>
                </div>
                <div class="left">
                    <input type="text" class="textbox wt1" id="J_systemNeed" maxlength="40"  value="windows / Mac OS X /  Linux"/>
                </div>
            </div>
        </div>
        <div class="tab">
            <div class="section">
                <div class="leftarea">
                    <div class="left">
                        <span class="type">类别:</span>
                    </div>
                    <div class="left">
                        <select class="dropdownbox" id="J_mobileType">
                            <option value="游戏">游戏</option>
                            <option value="工具">工具</option>
                            <option value="阅读">阅读</option>
                            <option value="视频">视频</option>
                            <option value="生活">生活</option>
                            <option value="音频">音频</option>
                        </select>
                    </div>
                </div>
                <div class="rightarea">
                    <div class="left">
                        <span class="star">*</span>
                        <span class="key">语言:</span>
                    </div>
                    <div class="left">
                        <select class="dropdownbox" id="J_mobileLang">
                            <option value="中文">中文</option>
                            <option value="英文">英文</option>
                            <option value="日文">日文</option>
                            <option value="多语言">多语言</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="left">
                    <span class="star">*</span>
                    <span class="key">价格:</span>
                </div>
                <div class="left">
                    <label><input type="radio" class="radiobox" name="price" id="J_free" checked/>免费</label>
                    <label><input type="radio" class="radiobox" name="price" id="J_pay"/>付费</label>
                    <input type="text" class="textbox" id="J_money" maxlength="4" style="width: 78px;cursor: not-allowed;" readOnly=true />
                    <span class="unit">元</span>
                </div>
            </div>
            <div class="section">
                <span class="decorativetxt">系统要求:</span>

                <div class="decorative" id="J_systemask">
                    <span class="way active" id="J_ios" style="width:47px">IOS</span>
                    <span class="way" id="J_android"  style="width:68px">Android</span>
                    <span class="way" id="J_winphone"  style="width:108px">Windows Phone</span>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="left">
                <span class="nostar">下载地址:</span>
            </div>
            <div class="left">
                <input type="text" class="textbox wt1" maxlength="60" id="J_downloadlink" value="http://"/>
            </div>
        </div>
    </div>
</div>
<div class="mask" id="J_mask" style="display: none"></div>

<script type="text/javascript" src="soft.js"></script>
</body>
</html>